* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    color: black;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 130px;
}   

input {
    width: 15vw;
    text-align: center;
    height: 4vh;
    padding: 10px;
    border-radius: 9px;
    border: none;
    margin: 30px;
    font-size: 16px;
}

img {
    border-radius: 25px;
}

p {
    font-size: 25px;
}